<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jam.paint" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Paint</name>
	<description>
		Aplicacion simple para dibujar a mano alzada.
	</description>
	<author email="andonigonzalez2@gmail.com" href="andonigonzalez.ikasle.aeg.es">
		Andoni Gonzalez Cortadi
	</author>
	<content src="index.html" />
	<icon src="icon.png" />
	<access origin="*" />
</widget>